*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

@keyframes load {
  0% {
    width: 0%;
  }

  100% {
    width: 75%;
  }
}

:root {
  font-size: 14px;
  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./images/bg-mobile.png");
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  background-color: var(--Very-Dark-Blue);
  color: var(--Pale-Blue);
}

.mainContent {
  width: 100%;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  max-width: 375px;
}

.container {
  background: var(--Dark-Blue);
  padding: 2.7em;
  border-radius: 10px;
  max-width: 334px;
}

.selections {
  border-top-right-radius: 100px;
}

.icons {
  margin-top: 2rem;
  margin-left: 0.2rem;
  display: flex;
  gap: 1.2em;
}

.icons img {
  background-color: var(--Very-Dark-Blue);
  padding: 0.8em;
  border-radius: 10px;
  border: solid 1px var(--Very-Dark-Blue);
  transition: 0.4s all;
}

.icons img:hover,
.icons img:focus {
  background-color: rgb(25, 38, 93);
  cursor: pointer;
  border-color: #fff;
}

.storageStatus {
  position: relative;
  text-align: center;
  z-index: 0;
}

.progressMeter--container {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

.progressMeter--outer {
  min-height: 1.4rem;
  border-radius: 30px;
  background: var(--Very-Dark-Blue);
  border: solid 3px var(--Very-Dark-Blue);
  overflow: hidden;
}

.progressMeter--inner {
  min-height: 1rem;
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  width: 0%;
  animation: load 1.5s 0.4s ease-in-out forwards;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.whiteDot {
  height: 0.7rem;
  width: 0.7rem;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 0.2rem;
}

.meterUnits {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.stackedBlock {
  position: absolute;
  background: #fff;
  border-radius: 10px;
  color: var(--Grayish-Blue);
  font-weight: 700;
  text-transform: uppercase;
  width: 67%;
  max-width: 190px;
  padding: 0.8em 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  z-index: 2;
  left: 21%;
  bottom: -18%;
}

.statusMsg {
  font-weight: 400;
  margin: 0;
}

.largeNum {
  display: inline-block;
  font-size: 2.8rem;
  color: #000;
}

@media (min-width: 640px) {
  body {
    background-image: url("./images/bg-desktop.png");
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .mainContent {
    flex-direction: row;
    gap: 1.8em;
    max-width: 900px;
  }

  .selections {
    width: 40%;
  }

  .statusMsg {
    text-align: left;
  }

  div.storageStatus {
    max-width: 100%;
    width: 60%;
    align-self: flex-end;
    padding-bottom: 0.5em;
  }
}

@media (min-width: 899px) {
  .stackedBlock {
    left: 54%;
    bottom: 85%;
  }

  .stackedBlock::after {
    content: "";
    height: 3rem;
    width: 3rem;
    background-color: transparent;
    position: absolute;
    bottom: -28%;
    right: 0;
    border: 20px solid transparent;
    border-right-color: #fff;
  }
}
